{{>header}}
{{>navbar}}
<section class="container my-3">
{{#if task.title}}    
    <div class="row">
        <div class="col-4 ">
            <div class="m-2 p-2 border border-primary border-2 rounded-3 task">
                <h3>Task {{task.id}}</h3>
                <hr>
                <p>Task Title: {{task.title}}</p>
                <p>Task status: {{task.completed}}</p>
                  <a href="/" class="btn btn-success">Edit</a>
                <a href="/deleteCustomer/{{taskId}}" class="btn btn-danger">Delete</a>
             
              
            </div>   
        </div>  
    </div>
{{else}}
<h2 class="alert alert-danger text-center">
    Invalid task id 
</h2>

{{/if}}      

</section>
{{>footer}}